<div class="guid">
    <h3>Citizen Guidlines</h3>
    <ul>
        <li>
            The Activity Details on different streets are available in services menue.
        </li>
        <li>
            Streets that are shown to be fully closed are not to be used on that particular day. An alternate street will be provided.
        </li>
        <li>
            Streets shown as partially closed has access only in one direction.
        </li>
        <li>
            Citizens are requested to keep track on the updates in the website.
        </li>
        <li>
            We expect your cooperation throughout the mainatainace period. Inconvinience caused is deeply regretted.
        </li>
    </ul>

</div>