<body>
    <div id="page">
      <div class="headarea">
        <div id="heading" class="heading" >
          <h1>
              <a class='Home' routerLink="Home">Metro Polis City Corporation</a>
            </h1>
        </div>
        <div id="subheads" class="subheads"></div>
        <table class="menutable">
          <th>
            <a class="menu" routerLink="AboutUs" routerLinkActive='active'>About us</a>
          </th>
          <th>
            <a class="menu" routerLink="Services" routerLinkActive='active'>Services</a>
          </th>
          <th>
            <a class="menu" routerLink="Guidelines" routerLinkActive='active'>Guidelines</a>
          </th>
          <th>
            <a class="menu" routerLink="ContactUs" routerLinkActive='active'>Contact us</a>
          </th>
        </table>
      </div>
</div>
</body>