h1
{
    text-align: center;
    color: rgb(110, 110, 231);
}

#users {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    width:100%;
}

#users td, #users th {
    border: 1px solid rgb(1, 2, 12);
    padding: 8px;
}

#users tr:nth-child(even){background-color: #fffffffa;}

#users tr:hover {background-color: cornsilk;}

#users th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(110, 110, 231);
    color: white;
}
