.footer{
    background-color: rgb(224, 226, 226);
    min-width: 1000px;
    margin: auto 30px;
    padding: 20px;
}
.footertable{
    width: 100%;
}
.about,.contact{
    padding: 20px;
    width: 400px;
   
    align-items: center;
}
