<div id="footer" class="footer">
    <table class="footertable">
        <th>
            <div class="about">
                <h2>About Us</h2>
            <p>
                this is sdmnsnd msnd ds  sd sds  ds d s ds  ds d s d s ds d s d sd  sd sds  d s d sds  d s ds d s  d sd s d sd s d 
            </p>
            </div>
        </th>
        <th>
            <div class="contact">
                <h2>Contact Us</h2>
            
                <div class="contactdetails">
                    <div>
                        Phone : 7045362772
                    </div>
        
                    <div>
                        Email : MetroPolis@gmail.com
                    </div>
                </div>
                
            
            </div>
        </th>
        
    </table>
</div>