<div id="footer" class="footer">
    <table class="footertable">
        <th>
            <div class="about">
                <h2>About Us</h2>
            <p>
                The website aims to inform the citizens about the road maintainance works carried out in the city.
                
            </p>
            </div>
        </th>
        <th>
            <div class="contactdetails">
                <h2>Contact Us</h2>
                <div>
                    Metropolis City Corporation
                </div>
                <div>
                    Street 5, XYZ
                </div>
                <div>
                    Phone : 7045362772
                </div>
    
                <div>
                    Email : MetroPolis@gmail.com
                </div>
            </div>
        </th>
        
    </table>
</div>