<head></head>
<body>
  <div id="page">
    <div class="headarea">
      <div id="heading" class="heading" >
        <h1>Metro Polis City Corporation</h1>
      </div>
      <div id="subheads" class="subheads"></div>
      <table class="menutable">
        <th>
          <a class="menu" href="#footer">About us</a>
        </th>
        <th>
          <a (click)="serviceHide()" class="menu">Services</a>
        </th>
        <th>
          <a class="menu" href="#guid">Guidlines</a>
        </th>
        <th>
          <a class="menu" href="#footer">Contact us</a>
        </th>
      </table>
    </div>
    <div id="image" *ngIf="services">
      <app-app-page1-image></app-app-page1-image>
    </div>
    <div id="guid" *ngIf="services">
      <app-app-page1-citizenguid></app-app-page1-citizenguid>
    </div>
    <div id="footer" *ngIf="services">
      <app-app-page1-footer></app-app-page1-footer>
    </div>
  </div>

  <!--page 2-->
    <div *ngIf="!services">
      <div *ngIf="!login">
       <app-app-page2></app-app-page2>
      </div>
      <div>
        <app-page2-activity-list></app-page2-activity-list>
      </div>
    </div>
    <!--page 3-->
    <div *ngIf="!services">
      <div *ngIf="login">
        <app-app-page3-addactivity></app-app-page3-addactivity>
      </div>
    </div>
    <!--below part is for testing-->
    <app-app-page3-addactivity></app-app-page3-addactivity>
</body>
